<header>
  <div class="grid">
    <div class="col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo">
      </div>
    </div>
    <div class="search col-4 m-auto">
      <products-search></products-search>
    </div>
    <div class="navigation col-3 col-offset-1 mt-auto mb-auto">
      <ngshop-nav></ngshop-nav>
    </div>
    <div class="tools col-1 m-auto">
      <i class="pi pi-user mr-3"></i>
      <i class="pi pi-shopping-cart"></i>
    </div>
  </div>
</header>
