footer {
  background-color: var(--yellow-100);
  min-height: 50px;
  padding: 10px;
  width: 100%;

  .footer-wrapper {
    align-items: center;

    .social {
      text-align: right;

      .nav {
        justify-content: flex-end;
      }
    }
  }
}
